body {
  background-color: rgb(198, 156, 108);
}

.title {
  text-align: center;
  font-size: 50px;
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add {
  margin: 3em;
}

.name {
  text-align: center;
  font-size: 40px;
}

.container {
  margin: 4em;
  background-color: antiquewhite;
  padding: 2em;
}

.conference {
  font-size: 20px;
  color: brown;
  font-weight: 600;
  text-align: center;
  margin: -1.5em 0 2em 0;
}

.image {
  width: 60em;
  text-align: center;
}

.edit {
  font-size: 20px;
  margin: 3em;
}

.delete {
  font-size: 15px;
  width: 10em;
  height: 4em;
  background-color: rgba(255, 0, 0, 0.628);
}